body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }


label,input{
    display: block;
}

input{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}


#Inscription{
    position: absolute;
    left: 40%;
    top:15%;
  }